@font-face{
	font-family: titulo;
	src:url('./../fonts/larch.ttf');
}

body{
	background:url('./../imagenes/fondo.jpg') fixed;
	text-align: center;
	width: 100%;
	height: 100%;
	color:white !important;
}

#navtext{
	color:white;
	font-family: titulo;
	
}

.title{
	font-family: titulo;
}

#whoami{
	color:white;
	background:url('./../imagenes/fondo4.jpg') fixed;
	width: 100%;
	height: 100%;
	padding:7%;
	margin-top:70px;
	
}
.yo{
	text-shadow: 2px 0 0 #7D12A1, -2px 0 0 #7D12A1, 0 2px 0 #7D12A1, 0 -2px 0 #7D12A1, 1px 1px #7D12A1, -1px -1px 0 #7D12A1, 1px -1px 0 #7D12A1, -1px 1px 0 #7D12A1;
}

#proyectimg{
height: 450.433px;
}

#tecnologias{

}

footer{
	background: #202324;
	color:white;
	font-family: titulo;
	font-size: 22px;
	padding: 10px;
}

a{
	@extend .yo;
}

A:link {text-decoration:none;color:white;}


A:visited {text-decoration:none;color:#e5fa00;}


A:active {text-decoration:none;color:#7D12A1;}


